@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*

h1, h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--black);
    color: var(--green);
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

body {
    --black: #000000;
    --green: #00ff15;
}

body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    background-color: var(--black);
    color: var(--green);
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    margin-left: 30%;
    margin-right: 30%;
}

a {
    color: var(--black);
    -webkit-text-fill-color: var(--black);
    -webkit-text-stroke-color: var(--green);
    -webkit-text-stroke-width: 1px;
}

.collection-grid {
    margin: 24px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.collection-card {
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: var(--black);
    border-color: var(--green);
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
}

.collection-card img {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.collection-card h2 {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 1.2;
    justify-content: center;
}

.collection-card .details {
    font-size: 14px;
    display: flex;
    color: var(--green);
    margin-bottom: 16px;
    font-style: italic;
    justify-content: center;
}

.collection-card .description {
    display: flex;
    font-size: 16px;
    margin-bottom: 0;
    line-height: 1.6;
    justify-content: center;
    text-align: center;
}

@media (width >=480px) {.collection-card {flex-basis: 50%;}}
@media (width >=1024px) {.collection-card {flex-basis: 33%;}}

.button {
  position: relative;
  padding: 1.5rem 3rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.4s ease;
}

.matrix {
  background: var(--black);
  border: 2px solid var(--green);
  color: var(--green);
}

.code-rain {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 255, 0, 0) 0%,
    rgba(0, 255, 0, 0.2) 50%,
    rgba(0, 255, 0, 0) 100%
  );
  opacity: 0;
  transition: 0.3s;
}

.matrix:hover .code-rain {
  opacity: 1;
  animation: rain 1s linear infinite;
}

@keyframes rain {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: var(--green);
  background-color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--green);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--green);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #116600;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}